{{input type="text" class="title-field" valueBinding="title"}}

<button class='save-title-button' {{action saveTitle}}>Save</button>

<hr>

{{input type="text" class="github-login" placeholder="Github login" valueBinding="personInputValue"}} <button class='add-person-button' {{action addPerson}}>Add</button>

<button class='done-editing-button' {{action doneEditing}}>Done</button>
